// variables.scss
$main-color: rgb(0, 59, 74);
$accent-color: rgb(88, 133, 1);
$neutral-color: rgb(229, 225, 254);
$grey: rgb(98, 98, 98);
$bg-color: rgb(247, 247, 247);
$light-color: rgb(255, 255, 255);
$shadow-color: rgba(229, 225, 254, 0.25);

// Tipografías
$sans-serif-font: 'Lato', sans-serif;
$serif-font: 'Noto Serif', serif;

// Header
$header-margin-top: 100px;

// Footer
$breakpoint-lg: 1200px;
